
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>beautiful dream</title>
    <!--https://stackoverflow.com/questions/4888377/how-to-add-a-browser-tab-icon-favicon-for-a-website-->
  <!--https://stackoverflow.com/questions/4644027/how-to-automatically-reload-a-page-after-a-given-period-of-inactivity-->
<link rel="stylesheet" type="text/css" href="/v1/show.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/v1/style.css" media="screen" />
<style>
.l-title {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   display: inline-block;
   max-width: 160px;
   min-width: 150px;
   font-size: 34px;
}
</style>
<script src="/v1/jquery.js"></script>
  <link rel="icon" href="https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/dreamforfuture.png"> 
  </head>
  <script>
       var time = new Date().getTime();
       $(document.body).bind("mousemove keypress", function(e) {
           time = new Date().getTime();
       });

       function refresh() {
          //var img ="https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/"+Math.floor(Math.random() * 25)+".JPG";
          //document.body.style.backgroundImage = "url("+img+")";



         <!--5s-->
           if(new Date().getTime() - time >= 300000)
               window.location.reload(true);
           else
               setTimeout(refresh, 10000);
       }

       setTimeout(refresh, 10000);
  </script>

<!--
<script>
$(document).ready(function(){


        //var a= "https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/IMG_0348.JPG"
        //var a= "https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/IMG_0343.JPG"
        //var a="https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/IMG_0339.JPG"
        var a="https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/IMG_0326.JPG"
        //var a ="https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/IMG_0325.JPG"

        var img ="https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/"+Math.floor(Math.random() * 25)+".JPG";
        //document.body.style.backgroundImage = "url("+img+")";
        document.body.style.backgroundImage = "url("+img+")";
});
</script>
-->





  <body>
<div id="intro">
<h2 class="title">Make use of the things {{.countforunfinishedtasks}} you have learned {{.finishedrate}}</h2>
<a href="/v1/review?reviewtype=statistics" style="color:blue;">=data=</a><a href="/v1/pride" style="color:blue;">=pride=</a><a href="/v1/place" style="color:blue;">=place=</a><a href="/v1/inbox" style="color:blue;">=inbox=</a><a style="color:blue;" href="/v1/everyday">=everyday=</a><a style="color:blue;" href="/v1/project">=project=</a><a style="color:blue;" href="/v1/reviewsjson">=review=</a>
<ul>
<!--u can reference testgolangtemplaterender.html to do anythings-->
{{ range .task}}
<li><a class="{{.Status}}">{{.ID}} {{.Task}}</a></li>
{{end}}


      </ul>
      <p class="footer">
        by <a>yangming</a> | <a href="yang756260386@gmail.com">feedback</a> |<a href="https://github.com/oxfordyang2016/">source</a> |<a href="https://yangmingweatherapp.herokuapp.com">page</a>
      </p>
    </div>
  </bod>
</html>
