
<!DOCTYPE html>

<html lang="en" dir="ltr">


<head>
	<title>Take Todoist with you.</title>
    <meta name="description" content="" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >



<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@todoist">
<meta name="twitter:title" content="Take Todoist with you.">
<meta name="twitter:description" content="">
<meta name="twitter:creator" content="@todoist">
<meta name="twitter:image" content="https://d3ptyyxy2at9ui.cloudfront.net/968d99236e2536919d6d14ca13d25930.jpg">


<!-- Open Graph data -->
<meta property="og:title" content="Take Todoist with you." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://todoist.com/seeYou" />
<meta property="og:image" content="https://d3ptyyxy2at9ui.cloudfront.net/968d99236e2536919d6d14ca13d25930.jpg" />
<meta property="og:description" content="" />
<meta property="og:site_name" content="Todoist" />
<meta property="fb:admins" content="165864136843769" />


    <link rel="canonical" href="https://todoist.com/seeYou" />
<link rel="alternate" hreflang="x-default" href="https://todoist.com/seeYou" />
<link rel="alternate" hreflang="da" href="https://da.todoist.com/seeYou" />
<link rel="alternate" hreflang="en" href="https://en.todoist.com/seeYou" />
<link rel="alternate" hreflang="de" href="https://de.todoist.com/seeYou" />
<link rel="alternate" hreflang="es" href="https://es.todoist.com/seeYou" />
<link rel="alternate" hreflang="fi" href="https://fi.todoist.com/seeYou" />
<link rel="alternate" hreflang="fr" href="https://fr.todoist.com/seeYou" />
<link rel="alternate" hreflang="it" href="https://it.todoist.com/seeYou" />
<link rel="alternate" hreflang="nl" href="https://nl.todoist.com/seeYou" />
<link rel="alternate" hreflang="nb" href="https://nb.todoist.com/seeYou" />
<link rel="alternate" hreflang="pt-BR" href="https://ptBR.todoist.com/seeYou" />
<link rel="alternate" hreflang="ru" href="https://ru.todoist.com/seeYou" />
<link rel="alternate" hreflang="tr" href="https://tr.todoist.com/seeYou" />
<link rel="alternate" hreflang="zh-TW" href="https://zhTW.todoist.com/seeYou" />
<link rel="alternate" hreflang="zh-CN" href="https://zhCN.todoist.com/seeYou" />
<link rel="alternate" hreflang="ko" href="https://ko.todoist.com/seeYou" />
<link rel="alternate" hreflang="ja" href="https://ja.todoist.com/seeYou" />
<link rel="alternate" hreflang="pl" href="https://pl.todoist.com/seeYou" />
<link rel="alternate" hreflang="sv" href="https://sv.todoist.com/seeYou" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="apple-itunes-app" content="app-id=572688855" />
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#c24f3d">

    <link rel="icon" sizes="192x192" type="image/png" href="https://d3ptyyxy2at9ui.cloudfront.net/d2043167d727a78186d9f8e734590f5a.png" />
    <link rel="mask-icon" href="https://d3ptyyxy2at9ui.cloudfront.net/4cb109aad577b76481947bf3bcf34feb.svg" color="#e44332">

        <link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/e95e7f43581cd53b3ffb44c8d5dac57c.css.cgz" media="all" />

        <script>
            LANG = 'en';
        </script>



<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Todoist",
  "url": "https://todoist.com",
  "logo": "https://d1x0mwiac2rqwt.cloudfront.net/bab0a0c4b1c3135a24bd0518417b66e3/as/logo_todoist_schema.png",
  "sameAs": [
    "https://twitter.com/todoist",
    "https://www.facebook.com/Todoist",
    "https://plus.google.com/+Todoist",
    "https://www.youtube.com/user/DoistApps",
    "https://instagram.com/todoistofficial/",
    "https://www.pinterest.com/todoist/",
    "https://dribbble.com/todoist",
    "https://flipboard.com/@Todoist",
    "https://www.linkedin.com/company/doist"
  ]
}
</script>






<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '232311783968672');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=232311783968672&amp;ev=PageView&amp;noscript=1"/></noscript>

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5309378-4', 'auto');
ga('send', 'pageview');
</script>

    <link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/f29e7ac9378f05d9253db8fe64a76b53.css.cgz" media="all" />
<script type="text/javascript" src="https://d3ptyyxy2at9ui.cloudfront.net/5a57c728cacfabd16e359219fe62557d.js.jgz" ></script>
<link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/8caed67582c65411222f8265fdeaca5c.css.cgz" media="all" />
<script type="text/javascript" src="https://d3ptyyxy2at9ui.cloudfront.net/f8e5161636f4f7caf47556a38f04cae7.js.jgz" ></script>
<link rel="stylesheet" type="text/css" href="https://d3ptyyxy2at9ui.cloudfront.net/936821ec4689b328770ad9e612e629ca.css.cgz" media="all" />



</head>

<body>
    <div id="wrapper">






























    <div class="logout">



<section id="top_bar" class="inactive">
    <div class="inner">
        <ul id="top_menu" role="navigation">



            <li>
                <a href="/tour">How It Works</a>
            </li>

            <li>
                <a href="/premium">Premium</a>
            </li>

            <li>
                <a href="/business">Business</a>
            </li>

            <li>
                <a href="/comparePlans">Pricing</a>
            </li>

                <li>
                    <a href="/Users/showLogin" onclick="return showLogin()" class="sel_login">Log in</a>
                </li>

                <li>
                    <b><a href="/Users/showRegister" onclick="return showSignUp()" class="sel_signup">Sign up</a></b>
                </li>
        </ul>

        <div id="top_bar_hamburger" onclick="return Hamburger.toggle(this);">
            <div class="hamburger">
                <span class="hamburger--top-bun"></span>
                <span class="hamburger--bottom-bun"></span>
            </div>
        </div>

        <div id="logo" ><a href="/overview">Todoist</a></div>
    </div>
</section>


    <section class="section-banner direction_center section--text--light morning" id="section-logout-banner">
        <div class="inner">
            <div class="text">
                <div class="title" id="logout_banner_title"></div>
                <div class="subtitle" id="logout_banner_subtitle"></div>
            </div>
            <div class="buttons">
                <a href="https://geo.itunes.apple.com/us/app/todoist-to-do-list-task-manager/id572688855" target="_blank" style="margin-right: 20px;">
                    <img src="https://d3ptyyxy2at9ui.cloudfront.net/11d3d7dd9e94ffaa3a3b6f9ba5c05f43.png" height="45" />
                </a>

                <a href="https://play.google.com/store/apps/details?id=com.todoist" target="_blank">
                    <img src="https://d3ptyyxy2at9ui.cloudfront.net/55268d57049f944138d1a23fa23dbb03.png" height="45" />
                </a>
            </div>
        </div>
    </section>




<nav class="platforms--mobile">
	<div class="inner">
		<ul class="secondary">
			<li><a href="/Users/showRegister" onclick="return showSignUp()">Sign up</a></li>
			<li><a href="/Users/showLogin" onclick="return showLogin()" class="sel_login">Log in</a></li>
		</ul>
		<ul>
            <li class="overview ">
                <a href="/overview"><span class="svgicon icon-platforms-todoist"></span>Overview</a>
            </li>
		</ul>
        <ul class="secondary">
            <li><a href="/tour">How It Works</a></li>
            <li><a href="/premium">Premium</a></li>
            <li><a href="/business">Business</a></li>
            <li><a href="/comparePlans">Pricing</a></li>
            <li><a href="/Help" target="_blank">Help</a></li>
			<li><a href="http://doist.com" target="_blank">About us</a></li>
        </ul>
	</div>
</nav>


<nav class="platforms">
    <div class="inner">
        <ul class="platforms-items">
            <li class="platforms-item ">
                <a class="platforms-action" href="/overview">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-todoist"></span></div>
                    <div class="platforms-name">Overview</div>
                </a>
            </li>

            <li class="platforms-item ">
                <a class="platforms-action" href="/web">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-web"></span></div>
                    <div class="platforms-name">Web</div>
                </a>
            </li>

            <li class="platforms-item platforms-item--dropdown ">
                <div class="platforms-action">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-android"></span></div>
                    <div class="platforms-name platforms-name--caret">Android</div>
                </div>
                <div class="platforms platforms--dropdown">
                    <ul class="platforms-items">
                        <li class="platforms-item ">
                            <a class="platforms-action" href="/android">
                                <div class="platforms-icon"><span class="svgicon icon-platforms-android-phone"></span></div>
                                <div class="platforms-name">Android Phone</div>
                            </a>
                        </li>
                        <li class="platforms-item ">
                            <a class="platforms-action" href="/androidTablet">
                                <div class="platforms-icon"><span class="svgicon icon-platforms-android-tablet"></span></div>
                                <div class="platforms-name">Android Tablet</div>
                            </a>
                        </li>
                        <li class="platforms-item ">
                            <a class="platforms-action" href="/androidWear">
                                <div class="platforms-icon"><span class="svgicon icon-platforms-android-wear"></span></div>
                                <div class="platforms-name">Android Wear</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="platforms-item platforms-item--dropdown ">
                <div class="platforms-action">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-apple"></span></div>
                    <div class="platforms-name platforms-name--caret">iOS</div>
                </div>
                <div class="platforms platforms--dropdown">
                    <ul class="platforms-items">
                        <li class="platforms-item ">
                            <a class="platforms-action" href="/iphone">
                                <div class="platforms-icon"><span class="svgicon icon-platforms-iphone"></span></div>
                                <div class="platforms-name">iPhone</div>
                            </a>
                        </li>
                        <li class="platforms-item ">
                            <a class="platforms-action" href="/ipad">
                                <div class="platforms-icon"><span class="svgicon icon-platforms-ipad"></span></div>
                                <div class="platforms-name">iPad</div>
                            </a>
                        </li>
                        <li class="platforms-item ">
                            <a class="platforms-action" href="/appleWatch">
                                <div class="platforms-icon"><span class="svgicon icon-platforms-apple-watch"></span></div>
                                <div class="platforms-name">Apple Watch</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="platforms-item ">
                <a class="platforms-action" href="/mac">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-osx"></span></div>
                    <div class="platforms-name">macOS</div>
                </a>
            </li>

            <li class="platforms-item ">
                <a class="platforms-action" href="/windows">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-windows"></span></div>
                    <div class="platforms-name">Windows</div>
                </a>
            </li>

            <li class="platforms-item ">
                <a class="platforms-action" href="/chrome">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-chrome"></span></div>
                    <div class="platforms-name">Chrome</div>
                </a>
            </li>

            <li class="platforms-item ">
                <a class="platforms-action" href="/firefox">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-firefox"></span></div>
                    <div class="platforms-name">Firefox</div>
                </a>
            </li>

            <li class="platforms-item ">
                <a class="platforms-action" href="/safari">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-safari"></span></div>
                    <div class="platforms-name">Safari</div>
                </a>
            </li>

            <li class="platforms-item platforms-item--dropdown ">
                <div class="platforms-action">
                    <div class="platforms-icon"><span class="svgicon icon-platforms-email"></span></div>
                    <div class="platforms-name platforms-name--caret">Email</div>
                </div>
                <div class="platforms platforms--dropdown">
                    <ul class="platforms-items">
                        <li class="platforms-item ">
                            <a class="platforms-action" href="/outlook">
                                <div class="platforms-icon"><span class="svgicon icon-platforms-outlook"></span></div>
                                <div class="platforms-name">Outlook</div>
                            </a>
                        </li>
                        <li class="platforms-item ">
                            <a class="platforms-action" href="/gmail">
                                <div class="platforms-icon"><span class="svgicon icon-platforms-gmail"></span></div>
                                <div class="platforms-name">Gmail</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>


    <section class="section--generic section--blog-posts">
        <div class="logout_blog_posts">
            <div class="title">Tips and tricks from our blog</div>
            <div class="content" id="logout_page_blog_posts_content">
            </div>
            <div class="more"><a href="https://todoist.com/blog/" target="_blank">See more posts&nbsp;›</a></div>
        </div>
    </section>

    <script src="https://d3ptyyxy2at9ui.cloudfront.net/fcb5e3442d78a6bc5132995366a3f5da.js.jgz"></script>


<section class="section--generic section-footer-cta ">
    <div class="inner">
        <p>Managing millions of tasks. Loved by millions of people worldwide. Trusted by leaders in Fortune 100 companies.</p>
        <p><img src="https://d3ptyyxy2at9ui.cloudfront.net/39e11f2dad49f7681ccc68688f8fac7f.svg" width="352" alt="Todoist - Fortune 100"></p>


    <a href="/Users/showRegister" class="button width-full width-auto-@sm sel_signup2" onclick="return showSignUp()">Get Started - It's Free</a>


    </div>
</section>



<footer class="section-footer" data-track-scroll="Scroll;Footer" id="footer">
    <div class="section-footer-social-media">
        <div class="section-footer-container">
            <div class="section-footer-row section-footer-social-media__wrapper">
                <h2 class="section-footer-menutitle">Keep in touch</h2>
                <ul class="section-footer-social-media__list">
                    <li class="section-footer-social-media__channel section-footer-social-media__channel--facebook">
                        <a href="https://www.facebook.com/Todoist/" target="_blank" class="section-footer-social-media__link" title="Facebook">
                            <span class="section-footer-social-media__icon"></span>
                        </a>
                    </li>
                    <li class="section-footer-social-media__channel section-footer-social-media__channel--twitter">
                        <a href="https://twitter.com/todoist" target="_blank" class="section-footer-social-media__link" title="Twitter">
                            <span class="section-footer-social-media__icon"></span>
                        </a>
                    </li>
                    <li class="section-footer-social-media__channel section-footer-social-media__channel--googleplus">
                        <a href="https://plus.google.com/+Todoist" target="_blank" class="section-footer-social-media__link" title="Google+">
                            <span class="section-footer-social-media__icon"></span>
                        </a>
                    </li>
                    <li class="section-footer-social-media__channel section-footer-social-media__channel--youtube">
                        <a href="http://www.youtube.com/user/DoistApps/videos" target="_blank" class="section-footer-social-media__link" title="YouTube">
                            <span class="section-footer-social-media__icon"></span>
                        </a>
                    </li>
                    <li class="section-footer-social-media__channel section-footer-social-media__channel--instagram">
                        <a href="https://instagram.com/todoistofficial/" target="_blank" class="section-footer-social-media__link" title="Instagram">
                            <span class="section-footer-social-media__icon"></span>
                        </a>
                    </li>
                    <li class="section-footer-social-media__channel section-footer-social-media__channel--pinterest">
                        <a href="https://www.pinterest.com/todoist/" target="_blank" class="section-footer-social-media__link" title="Pinterest">
                            <span class="section-footer-social-media__icon"></span>
                        </a>
                    </li>
                    <li class="section-footer-social-media__channel section-footer-social-media__channel--flipboard">
                        <a href="https://flipboard.com/@Todoist" target="_blank" class="section-footer-social-media__link" title="Flipboard">
                            <span class="section-footer-social-media__icon"></span>
                        </a>
                    </li>
                    <li class="section-footer-social-media__channel section-footer-social-media__channel--dribbble">
                        <a href="https://dribbble.com/todoist" target="_blank" class="section-footer-social-media__link" title="Dribbble">
                            <span class="section-footer-social-media__icon"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-footer-container">
        <div class="section-footer-row">
            <div class="section-footer-menu section-footer-menu--main">
                <h2 class="section-footer-menutitle">Todoist</h2>
                <ul class="section-footer-menuitems">
                    <li class="section-footer-menucombo">
                        Language



                        <select class="section-footer-dropdown js-language-selector ">
                                <option  value="https://da.todoist.com" target="_top">Dansk</option>
                                <option selected="selected" value="https://en.todoist.com" target="_top">English</option>
                                <option  value="https://de.todoist.com" target="_top">Deutsch</option>
                                <option  value="https://es.todoist.com" target="_top">Español</option>
                                <option  value="https://fi.todoist.com" target="_top">Suomi</option>
                                <option  value="https://fr.todoist.com" target="_top">Français</option>
                                <option  value="https://it.todoist.com" target="_top">Italiano</option>
                                <option  value="https://nl.todoist.com" target="_top">Nederlands</option>
                                <option  value="https://nb.todoist.com" target="_top">Norsk</option>
                                <option  value="https://ptBR.todoist.com" target="_top">Português (Brazil)</option>
                                <option  value="https://ru.todoist.com" target="_top">Pусский (Russian)</option>
                                <option  value="https://tr.todoist.com" target="_top">Türkçe</option>
                                <option  value="https://zhTW.todoist.com" target="_top">中文 (繁體)</option>
                                <option  value="https://zhCN.todoist.com" target="_top">中文 (简体)</option>
                                <option  value="https://ko.todoist.com" target="_top">한국어</option>
                                <option  value="https://ja.todoist.com" target="_top">日本語</option>
                                <option  value="https://pl.todoist.com" target="_top">Polski</option>
                                <option  value="https://sv.todoist.com" target="_top">Svenska</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="section-footer-menu">
                <h2 class="section-footer-menutitle">Learn More</h2>
                <ul class="section-footer-menuitems">
                    <li><a href="/business">For Business</a></li>
                    <li><a href="/premium">Premium</a></li>
                    <li><a href="/comparePlans">Compare Plans</a></li>
                    <li><a href="/nonprofits">Non-Profit Pricing</a></li>
                    <li><a href="/education">Education Pricing</a></li>
                    <li><a href="/downloads">Downloads</a></li>
                    <li><a href="https://developer.todoist.com" target="_blank">Developers</a></li>
                    <li><a href="https://blog.doist.com" target="_blank">Blog</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/gifts">Gift Todoist Premium</a></li>
                </ul>
            </div>
            <div class="section-footer-menu">
                <h2 class="section-footer-menutitle">Help Center</h2>
                <ul class="section-footer-menuitems">
                    <li><a href="https://support.todoist.com/">Support</a></li>
                    <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
                    <li><a href="/security" target="_blank">Security Policy</a></li>
                    <li><a href="/terms" target="_blank">Terms of Service</a></li>
                </ul>
            </div>
            <div class="section-footer-menu">
                <h2 class="section-footer-menutitle">Doist</h2>
                <ul class="section-footer-menuitems">
                    <li><a href="https://twistapp.com/" target="_blank">Twist<span class="section-footer__new_entry">New</span></a></li>
                    <li><a href="https://doist.com/" target="_blank">About us</a></li>
                    <li><a href="https://doist.com/jobs/" target="_blank">Jobs</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>




    </div>



    </div>
</body>

</html>
