<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>beautiful dream</title>

 <link rel="icon" href="https://photosfor2018.oss-cn-hangzhou.aliyuncs.com/dreamforfuture.png">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

<link rel="stylesheet" href="/v1/user.css">


</head>

<body>
<div class="container">
  <div class="info">
    <h1>春花秋月</h1><span>Made with <i class="fa fa-heart"></i> by <a>Andy Tran</a></span>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
  <!-- i use the attibute to not open a new tab https://www.thesitewizard.com/html-tutorial/open-links-in-new-window-or-tab.shtml-->
  <form class="register-form" action="https://www.blackboxo.top/v1/register"  method="get"  enctype="application/json">
    <input type="text" name="username" placeholder="name"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="text" name="email" placeholder="email address"/>
    <button  type="submit" formmethod="post">create</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
  </form>
  <form class="login-form" action="/v1/login"  method="get" >
    <input type="text" name="email" placeholder="email"/>
    <input type="password" name="password" placeholder="password"/>
    <!--input hidden-->
    <input type="hidden" name="client" value="web" placeholder="client"/>
    <button  type="submit" formmethod="post">login</button>
    <p class="message">Not registered? <a href="#">Create an account</a></p>
  </form>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="/v1/index.js"></script>

</body>
</html>
